services:
#containers na gagamitin sa docker
  web: #unique identifier ng container
    container_name: sample_store_db #name ng container
    build: 
      context: ./storemanagement #kung san siya mag sisimula mag build
      dockerfile: Dockerfile 
    command: gunicorn storemanagement.wsgi:application --bind 0.0.0.0:8000 --timeout 30 --reload
    ports:
      - "8000:8000" #mapping ng host port: container port
    env_file:
      - ./storemanagement/.env
    volumes: #persist or sync data files
      - static_volume:/usr/src/app/staticfiles
      - media_volume:/usr/src/app/mediafiles
      - ./storemanagement/:/usr/src/app/
    expose:
      - 8000
    depends_on:
      - postgres
    

  postgres:
    container_name: store_db
    image: postgres
    env_file:
      - ./storemanagement/.env
    volumes:
      - postgres_data:/var/lib/postgresql/data
    expose:
      - 5432
      
volumes:
  postgres_data: {} #container data will persist across containers
  media_volume: {} #container media will persist across containers
  static_volume: {} #container static files will persist across containers


    